
@font-face {
    font-family: "Kufi";
    src: url("../Fonts/NotoKufiArabic/NotoKufiArabic.eot");
    src: url("../Fonts/NotoKufiArabic/NotoKufiArabic.eot?#iefix") format("embedded-opentype"),
    url("../Fonts/NotoKufiArabic/NotoKufiArabic.woff") format("woff"),
    url("../Fonts/NotoKufiArabic/NotoKufiArabic.ttf") format("truetype"),
    url("../Fonts/NotoKufiArabic/NotoKufiArabic.svg#svgFontName") format("svg");
}

@font-face {
    font-family: "icomoon";
    src: url("../Fonts/Icomoon/icomoon.eot"); /* IE9 Compat Modes */
    src: url("../Fonts/Icomoon/icomoon.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../Fonts/Icomoon/icomoon.woff") format("woff"),
    /* Pretty Modern Browsers */ url("../Fonts/Icomoon/icomoon.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../Fonts/Icomoon/icomoon.svg#svgFontName") format("svg"); /* Legacy iOS */
}
:root {
    --fontModifier: 1;
  }
body{
    background-color: #f4f4f4;
    direction: rtl;
    margin: 20px;
    font-family: 'Kufi';
}
.section-title{
    h3{
        font-size: calc(var(--fontModifier) * 27px + (30 - 27) * ((100vw - 1024px) / (1366 - 1024)));
        font-weight: 600;    
    }
}
.generic-section{
    border-top: 4px solid rgba(126, 144, 161, 46%);
    margin: 0 0 45px 0;
    padding: 20px 0 0 0;

}
.generic-section:nth-child(1){
    border-top: none;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-like:before {
  content: "\e902";
}
.icon-dots-three-horizontal:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e900";
}
.icon-images:before {
  content: "\e90e";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-calendar:before {
  content: "\e953";
}
