

@font-face {
    font-family: "icomoon";
    src: url("../Fonts/Icomoon/icomoon.eot"); /* IE9 Compat Modes */
    src: url("../Fonts/Icomoon/icomoon.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../Fonts/Icomoon/icomoon.woff") format("woff"),
    /* Pretty Modern Browsers */ url("../Fonts/Icomoon/icomoon.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../Fonts/Icomoon/icomoon.svg#svgFontName") format("svg"); /* Legacy iOS */
}
:root {
    --fontModifier: 1;
  }
body{
    background-color: #f4f4f4;
    direction: rtl;
    margin: 20px;
    font-family: 'Noto Kufi Arabic';
}
.section-title{
    h3{
        font-size: calc(var(--fontModifier) * 27px + (30 - 27) * ((100vw - 1024px) / (1366 - 1024)));
        font-weight: 600;    
    }
}
.generic-section{
    border-top: 4px solid rgba(126, 144, 161, 46%);
    margin: 0 0 45px 0;
    padding: 20px 0 0 0;

}
.generic-section:nth-child(1){
    border-top: none;
}